body {
    background-color: lightgreen;
}

.jumbotron{
    position: relative;
   
}
#crystal {
    position: relative;
}

.wrapper{
    position: absolute;
    margin-top: 30px;
    margin-left:10px;
    width: 600px;
}


h1{
    background-color: orange;
    width:275px;
    text-align: center;
}
.container{
    background-color: lightgreen;
    width:500px;
    margin: 0 auto;
}
p{
    font-weight: bolder;
    font-size:16px;
    text-align:center;
}
.float{
    margin:0 auto;
    background-color: violet;
    width: 325px;
    height:100px;
  
}
.randomNumber{
    height: 70px;
    width: 150px;
    background-color: blue;
    float:left;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding-top:20px;
}

.winLose{
    background-color: yellow;
    height:90px;
    width: 150px;
    margin-left:10px;
    float:left;
}

.scoreboard{
    clear:both;
    background-color: green;
}
h5{
    margin-top:0;
    margin-bottom:4px;

}
.crystals{
    background-color: blue;
    height: 100px;
    width: 600px;
    text-align:center;
}
#cry1{
    height:95px;
    width:95px;
    background-color:white;
    float:left;
    margin-top:2.5px; 
    margin-left:75px;   
}
#cry2{
    height:95px;
    width:95px;
    background-color:white;
    float:left;
    margin-left:20px;
    margin-right:20px;
    margin-top:2.5px;
}
#cry3{
    height:95px;
    width:95px;
    background-color:white;
    float:left;
    margin-top:2.5px;
}
#cry4{
    height:95px;
    width:95px;
    background-color:white;
    float:left;
    margin-left:20px;
    margin-top:2.5px;    
}
#cryPic1{
    width: 100%;
    height:100%;
}


h3{
    clear:both;
    margin:0 auto;
    background-color: yellow;
    width:200px;
    font-size: 24px;
}
.totalScore{
    height:80px;
    width:150px;
    background-color: blue;
    margin:0 auto;
    margin-top:20px;
    text-align: center;
    font-size: 36px;
    font-weight: bolder;
    padding-top:20px;
}